body {
  background-color: white;
  margin: 0;
}

.homepage-container {
  background: url(/gloop.jpg);
  height: 100vh;
  box-shadow: inset 0 0 0 1000px rgba(249, 248, 244, 0.42);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-logo {
  font-family: "Covered By Your Grace", cursive;
  font-size: 50px;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 5px;
}

.signup-login-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.signup-login-form {
  font-family: "Roboto", sans-serif;
  font-style: thin;
  font-size: 10px;
  font-style: thin;
  letter-spacing: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 100%;
  background: white;
  border-radius: 5px;
  padding: 20px;
  min-width: 200px;
}

.signup-login-input {
  border: none;
  border-radius: 2px;
  height: 20px;
  margin-top: 5px;
  width: 100%;
  padding: 2px;
  background-color: #fbe6e6;
  outline: none;
}

input[type="submit"] {
  margin-top: 8px;
  background-color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  letter-spacing: 1px;
}

input[type="password"] {
  background-color: #fbe6e6;
  outline: none;
}

.button {
  margin-top: 8px;
  background-color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  outline: none;
}

.button:hover {
  margin-top: 8px;
  background-color: black;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  letter-spacing: 1px;
}

.edit-button {
  position: absolute;
  top: 5px;
  right: 20px;
  outline: none;
}

.submit-edit-button {
  margin-top: 20px;
  background-color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  outline: none;
}

.submit-edit-button:hover {
  margin-top: 20px;
  background-color: black;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  letter-spacing: 1px;
}

.file-button {
  background-color: white;
  color: black;
  border: none;
  padding: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  outline: none;
  font-size: 11px;
  margin-top: 2px;
}

.file-button:hover {
  background-color: black;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  letter-spacing: 1px;
}

.add-notes-photo {
  display: flex;
  align-items: center;
}

.navbar-container {
  display: flex;
  position: relative;
  background: url(/gloop.jpg);
  box-shadow: inset 0 0 0 1000px rgba(249, 248, 244, 0.69);
  text-decoration: none;
  justify-content: center;
  height: 100px;
  margin-bottom: 40px;
}

.navbar-logo {
  display: flex;
  position: absolute;
  top: 15px;
  left: 10px;
  font-family: "Covered By Your Grace", cursive;
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.navbar-logout {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
  border: none;
  color: black;
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.navbar-logout:hover {
  color: white;
  background-color: black;
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.app-container {
  display: flex;
}

.calculator-container {
  background: white;
  width: 50vw;
  height: 100vh;
  margin-left: 80px;
}

.calculator-header {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.calculator-content {
  margin-left: 30px;
}

.calculate-clear {
  display: flex;
}

.catalogue-container {
  background: white;
  width: 50vw;
  height: 100vh;
  margin-right: 80px;
}

.catalogue-header {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.catalogue-content {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin-right: 80px;
}

.catalogue-recipe-titles {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.catalogue-recipe-info {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: lowercase;
}

.recipe-container {
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
  border: 1px solid;
  border-radius: 2px;
  padding: 20px;
  margin-right: 100px;
}

.list-items {
  list-style-image: url(/bullet.jpg);
  list-style-position: inside;
  padding-left: 0;
}

.images {
  width: 100px;
  height: 100px;
  margin-right: 5px;
  object-fit: cover;
}

.images:hover {
  position: relative;
  top: -25px;
  left: -35px;
  width: 300px;
  height: auto;
  display: block;
  z-index: 999;
}

.center-cropped {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.search-container {
  margin-bottom: 20px;
  margin-right: 50px;
  padding-bottom: 20px;
}

.search-result-container {
  margin-bottom: 30px;
  margin-top: 30px;
  border: 1px solid;
  padding: 20px;
  background-color: white;
}

.form-input {
  border-radius: 2px;
  height: 15px;
  margin-top: 5px;
  margin-right: 5px;
  padding: 2px;
  background-color: white;
  border: 1px solid;
  outline: none;
}

.search-form-input {
  border: none;
  height: 15px;
  margin-top: 5px;
  margin-right: 10px;
  padding: 2px;
  background-color: white;
  border-bottom: 1px solid;
  width: 150px;
  outline: none;
}

.select-menu {
  background-color: black;
  color: white;
  border: solid;
  outline: none;
}

.modal {
  position: sticky;
  bottom: 0;
  width: 300px;
  height: auto;
  padding: 15px;
  /* margin-top: -50vh;
  margin-left: -50vw; */
  border-radius: 2px;
  border: 1px solid black;
  z-index: 100;
  background-color: white;
}

.modal-title {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  margin-top: 10px;
  border-bottom: 1px solid;
  padding: 2px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: white;
  color: black;
  cursor: pointer;
  border: 0;
}

.close:hover {
  background: black;
  color: white;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(207, 211, 214, 0.8);
  z-index: 50;
  opacity: 1;
  transition: 0.3s;
}

.edit-recipe-titles {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  margin-top: 20px;
}

.edit-mat-con {
  display: flex;
}

#file {
  display: none;
}

/* 

font-family: 'Lato', sans-serif; */
/* font-family: "Armata", sans-serif; */
